body {
    font-size: 16px;
    margin: 0;
    background-color: rgb(254, 250, 249);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin: 0;
}

.gradient {
    margin: 0;
    font-size: 72px;
    background-color: #f3ec78;
    background-image: linear-gradient(90deg, dodgerblue, purple, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main {
    margin: 0 auto;
    width: fit-content;
    height: 50vh;
}

.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

#player {
    font-weight: bold;
    font-size: 4rem
}

#card {
    width: fit-content;
    background-color: transparent;
}

#headerCard {
    border-radius: 10px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    width: fit-content;
    padding: 2rem;
    background-image: linear-gradient(45deg, dodgerblue, lightgreen, coral);
    color: #fff;
    opacity: 0.80;
}

#table {
    display: flex;
    border: 10px solid #8C8C8C;
    background-color: #8C8C8C;
    border-radius: 10px;
    max-width: 90vw;
}

#table:hover {
    cursor: pointer;
}

.colunas {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 4px;
}

.celulas {
    border: 1px solid rgb(255, 251, 246);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(255, 251, 246);
    margin: 10px 0
}

.player {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.player1 {
    background: -moz-linear-gradient(left, rgba(253, 83, 109, 1) 0%, rgba(255, 161, 109, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(253, 83, 109, 1) 0%, rgba(255, 161, 109, 1) 100%);
    background: linear-gradient(to right, rgba(253, 83, 109, 1) 0%, rgba(255, 161, 109, 1) 100%);
}

.player2 {
    background: -moz-linear-gradient(left, rgba(135, 77, 255, 1) 0%, rgba(255, 158, 255, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(135, 77, 255, 1) 0%, rgba(255, 158, 255, 1) 100%);
    background: linear-gradient(to right, rgba(135, 77, 255, 1) 0%, rgba(255, 158, 255, 1) 100%);
}

#status {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: fit-content;
    width: 100%;
    max-width: 300px;
    min-width: 200px;
}

#reset {
    margin: 20px auto;
    width: 100px;
}

#playerTurn {
    display: flex;
    margin-top: 10px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.playerTime {
    display: flex;
    width: fit-content;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.playerDisc {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d9d9d9;
}

.playerDisc1 {
    margin-right: 5px;
    background: -moz-linear-gradient(left, rgba(253, 83, 109, 1) 0%, rgba(255, 161, 109, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(253, 83, 109, 1) 0%, rgba(255, 161, 109, 1) 100%);
    background: linear-gradient(to right, rgba(253, 83, 109, 1) 0%, rgba(255, 161, 109, 1) 100%);
}

.playerDisc2 {
    margin-left: 5px;
    background: -moz-linear-gradient(left, rgba(135, 77, 255, 1) 0%, rgba(255, 158, 255, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(135, 77, 255, 1) 0%, rgba(255, 158, 255, 1) 100%);
    background: linear-gradient(to right, rgba(135, 77, 255, 1) 0%, rgba(255, 158, 255, 1) 100%);
}

.selectorArrow {
    width: 30%;
}

.arrow {
    background: #8C8C8C;
    height: 4px;
    width: 40px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}

.arrow::before,
.arrow::after {
    content: "";
    background: #8C8C8C;
    position: absolute;
    height: 3px;
    width: 15px;
}

.arrow::before {
    right: -3px;
    bottom: -4px;
    transform: rotate(-45deg);
}

.arrow::after {
    right: -3px;
    top: -4px;
    transform: rotate(45deg);
}

#animation3+label>.arrow:before {
    animation: animation-3-before 1s ease 0s 1 alternate both;
}

#animation3+label>.arrow:after {
    animation: animation-3-after 1s ease 0s 1 alternate both;
}

#animation3:checked+label>.arrow:before {
    animation: animation-3-before-reverse 1s ease 0s 1 alternate both;
}

#animation3:checked+label>.arrow:after {
    animation: animation-3-after-reverse 1s ease 0s 1 alternate both;
}

@keyframes animation-3-after {
    0% {
        right: -3px;
        top: -4px;
        transform: rotate(45deg);
        background: rgba(253, 83, 109, 1);
    }
    25% {
        width: 3px;
        border-radius: 50%;
        top: 20px;
        left: 15px;
    }
    75% {
        width: 3px;
        border-radius: 50%;
        top: -20px;
        left: 15px;
    }
    100% {
        left: -3px;
        bottom: -4px;
        transform: rotate(135deg);
        height: 3px;
        width: 15px;
        background: #8C8C8C;
    }
}

@keyframes animation-3-before {
    0% {
        right: -3px;
        top: -4px;
        transform: rotate(45deg);
        background: rgba(135, 77, 255, 1);
    }
    25% {
        width: 3px;
        border-radius: 50%;
        top: -20px;
        left: 15px;
    }
    75% {
        width: 3px;
        border-radius: 50%;
        top: 20px;
        left: 15px;
    }
    100% {
        left: -3px;
        bottom: -4px;
        transform: rotate(-135deg);
        height: 3px;
        width: 15px;
        background: #8C8C8C;
    }
}

@keyframes animation-3-after-reverse {
    0% {
        left: -3px;
        bottom: -4px;
        transform: rotate(135deg);
        height: 3px;
        width: 15px;
        background: #8C8C8C;
    }
    50% {
        width: 3px;
        border-radius: 50%;
        top: -20px;
        left: 15px;
    }
    100% {
        right: -3px;
        top: -4px;
        transform: rotate(45deg);
    }
}

@keyframes animation-3-before-reverse {
    0% {
        left: -3px;
        bottom: -4px;
        transform: rotate(-135deg);
        height: 3px;
        width: 15px;
        background: #8C8C8C;
    }
    50% {
        width: 3px;
        border-radius: 50%;
        bottom: -20px;
        left: 15px;
    }
    100% {
        right: -3px;
        bottom: -4px;
        transform: rotate(-45deg);
    }
}

input {
    display: none;
}

.player {
    opacity: 0;
    animation: new-item-animation .5s linear forwards;
}

@keyframes new-item-animation {
    from {
        opacity: 0;
        transform: translateY(-100vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 40vh auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: fit-content;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: 'Audiowide', cursive;
}

.popup .close {
    position: absolute;
    top: 8px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: rgba(253, 83, 109, 1);
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    display: block;
}

.popup .content input {
    display: inline-block;
    font-family: 'Audiowide', cursive;
}

#changeName:hover {
    background-color: rgba(135, 77, 255, 1);
    color: rgb(254, 250, 249);
}

@media(min-width: 768px) {
    .celulas {
        height: 70px;
        width: 70px;
    }
    #playerTurn {
        margin-top: 30px;
        justify-content: space-between;
        align-items: center;
    }
    .playerDisc {
        width: 40px;
        height: 40px;
    }
    .arrow {
        background: #8C8C8C;
        height: 5px;
        width: 50px;
    }
    .colunas:hover {
        background-color: #D9D9D9;
        border-radius: 50px;
    }
    .playerDisc1 {
        margin-right: 10px;
    }
    .playerDisc2 {
        margin-left: 10px;
    }
}